label{
	background:red;

	font-style:oblique;
	font-size:40pt;

	display:block;
	text-align: center;
	line-height:  150%
}


#hola{

	background: green;
	font-size: 80pt;
}

  
.clase{

	font-size: 60pt;
	background: rgb(71, 96, 209);
	color:rgb(253, 253, 253);
	text-align: center;
}

.resumen{
background-color: rgb(89, 173, 234);
font-style: italic;


}